/* Main starting point */
body {
  background-color: rgb(255, 233, 233);
  /* font-family in the body tag below */
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  min-width: 1080px;
  max-width: 1224px;
  font-size: 16px;
  line-height: 1.5;
}
/* ----------------fonts-------------- */
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h1,
h2,
h3 {
  color: rgb(104, 4, 4);
  font-family: Arial, Helvetica, sans-serif;
}
ul li {
  /* background-color: black; */
  color: red;
}
ol li {
  /* background-color: black; */
  color: red;
}
dl {
  color: red;
}
blockquote {
  color: red;
}
footer p {
  color: rgb(255, 233, 233);
}
p {
  /* border-style: solid;
  border-color: darkred; */
  font-size: 16px;
  color: rgb(230, 2, 2);
  /* background-color: brown; */
}
/* header and footer */
header {
  line-height: 1.1;
  background-color: rgb(170, 57, 57);
}
footer {
  background-color: rgb(170, 57, 57);
  line-height: 1.2;
}

/* ---------------images-------------- */

figure {
  text-align: center;
}

figcaption {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------links styling---------- */
/* -----nav links------ */
nav li a {
  color: red;
  font-size: 25px;
  text-decoration-line: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* unvisited link */
nav li a:link {
  color: red;
}
/* visited link */
nav li a:visited {
  color: black;
}
/* mouse over link */
nav li a:hover {
  color: red;
  background-color: black;
}
/* click on selected link */
nav li a:active {
  color: red;
}
/* tabbed to link */
nav li a:focus {
  color: darkred;
  background-color: red;
}
/* ------Footer links------ */
footer a:link {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
/* visited link */
footer a:visited {
  color: black;
}
/* mouse over link */
footer a:hover {
  color: red;
  background-color: black;
}

/* links in paragrapghs */
p a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  /* text-decoration: ; */
}
/* unvisited link */
p a:link {
  color: red;
}
/* visited link */
p a:visited {
  color: black;
}
/* mouse over link */
p a:hover {
  color: red;
}
/* click on selected link */
p a:active {
  color: red;
}
/* tabbed to link */
p a:focus {
  color: darkred;
}
