body {
  background-color: #f4fcfb;
  margin: 0;
  font-family: "Miriam Libre", sans-serif;
}
header nav ul {
  list-style: none;
  padding: 0;
  display: block;
  margin: 0;
  
}
header nav ul li {  
  margin: auto;
  width: 100%;  
  text-align: center; 
  line-height: 60px;  
}
header nav li a { 
  display: block; 
  margin-top: 4px;
  margin-bottom: 4px;
  width: 120px;
  height: 60px;
  font-family: "Miriam Libre", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #5a4134;
  background-color: #00f2f2;
  border: 5px solid #096b72;
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;    
  text-align: center;
  text-decoration-line: none;  
}
header nav {
  grid-column: 3;
}
.logo img {
  width: 100%;
  max-height: 290px;
  max-width: 290px;
}
.title {
  text-align: center;
  color: #00f2f2;
  max-width: 700px;
}
h1,
h2 {
  margin: 5px 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5a4134;
  padding: 10px 20px;
  border-radius: 20px;
  border: 6px solid #00f2f2;
}
header h1 {
  grid-column: 2;
  font-family: "magneto", sans-serif;
  color: #00f2f2;
  font-size: 105px;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #096b72;
  padding: 0px;
  margin: 0;
  text-align: center;
  max-height: 120px;
  letter-spacing: 8px;
}
header h2 {
  grid-column: 2;
  font-family: "magneto", sans-serif;
  color: #00f2f2;
  font-size: 60px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #096b72;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 4px;
}
header img {
  grid-column: 1;
  padding: 0;
  margin: 0;
}

main {
  font-family: "Miriam Libre", sans-serif;
}
main h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 75px;
  color: #5a4134;
  font-weight: lighter;
}
main h2 {
  text-align: center;
  font-size: 50px;
  color: #5a4134;
  font-weight: lighter;
}
main h2 a{
  text-decoration-line: none;
  color: #5a4134;
}
.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;
  gap: 1px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.col {
  border: 6px solid #5a4134;
  border-radius: 16px;
  margin: 10px;
  padding: 0px;
  break-inside: avoid;
  max-width: 400px;
  max-height: 400px;
}
main img {
  border-radius: 9px;
}
footer {
  background-color: #00f2f2;
  border-radius: 8px;
  border-color: #096b72;
  border-style: solid;
  border-width: 6px;
}
footer p {
  color: #5a4134;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
