/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "Open Sans", sans-serif;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

body {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 1px;
}
a {
  color: #a66;
}
li a {
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3 {
  letter-spacing: 2px;
  font-family: "Roboto Mono", monospace;
}

section p:first-of-type {
  text-indent: 3%;
}
section p:nth-of-type(3) {
  text-indent: 3%;
}

aside li {
  list-style-type: square;
}

section li {
  list-style-type: square;
}

section ol li {
  list-style-type: lower-alpha;
  font-family: "Open Sans", sans-serif;
}

nav li {
  border: 1px solid #a66;
  list-style-type: none;
  text-align: center;
  padding: 15px 0;
  margin: 0 0 15 0;
}
nav li a {
  text-decoration: none;
}
