/* Main starting point */

.body_content {
  background-color: rgb(255, 233, 233);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-style: solid;
  border-color: rgb(104, 4, 4);
  min-width: 1080px;
  max-width: 1224px;
  padding: 1%;
}

/* ----------------fonts, base colors, sizes-------------- */
h1.heading {
  font-size: 3rem;
  font-weight: bold;
  border: 4px solid rgb(104, 4, 4);
  background-color: rgb(245, 191, 191);
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h1,
h2,
h3 {
  color: rgb(104, 4, 4);
  font-family: "Roboto Mono", monospace;
}
ul li {
  /* background-color: black; */
  color: red;
  list-style-type: circle;
}
ol li {
  /* background-color: black; */
  color: red;
}
dl {
  color: red;
}
blockquote {
  color: red;
}
footer p {
  color: rgb(255, 233, 233);
}
p {
  /* border-style: solid;
  border-color: darkred; */
  font-size: 16px;
  color: rgb(230, 2, 2);
  letter-spacing: 1px;
  word-spacing: 1px;
  /* background-color: brown; */
}
/* header and footer */
header.head {
  line-height: 1.1;
  background-color: rgb(170, 57, 57);
  border: 4px solid rgb(104, 4, 4);
}

footer.foot {
  background-color: rgb(170, 57, 57);
  line-height: 1.2;
  border: 4px solid rgb(104, 4, 4);
  padding: 10px;
}
/* ----------text mods---------- */
/* pseudo class */
main p:first-of-type {
  text-indent: 15px;
}
.name:last-of-type {
  font-size: 3rem;
  font-weight: bold;
  border: 4px solid rgb(104, 4, 4);
  background-color: rgb(245, 191, 191);
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
/* pseudo element */
main p:first-of-type::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(104, 4, 4);
}

/* ---------------images-------------- */

figure {
  text-align: center;
}

figcaption {
  color: red;
  font-family: "Roboto Mono", monospace;
}
main #pictures {
  /* width: auto; */
  padding: 0px;
  margin: 0px;

  border: 0px;
}

.col {
  border: 2px solid rgb(170, 57, 57);
  margin: auto;
  width: 32%;
  padding: 0px;
  background-color: white;
  overflow: hidden;
}

/* ----------links styling---------- */
/* -----nav links------ */
nav li {
  display: inline-block;
}
nav li a {
  color: red;
  font-size: 25px;
  text-decoration-line: none;
  font-family: "Roboto Mono", monospace;
  border: none;
  padding: 15px 32px;
}
/* unvisited link */
nav li a:link {
  color: red;
}
/* visited link */
nav li a:visited {
  color: black;
}
/* mouse over link */
nav li a:hover {
  color: red;
  background-color: black;
}
/* click on selected link */
nav li a:active {
  color: red;
}
/* tabbed to link */
nav li a:focus {
  color: darkred;
  background-color: red;
}
.button {
  color: rgb(255, 233, 233);
  background: red;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
/* ------Footer links------ */
footer a:link {
  color: red;
  font-family: "Roboto Mono", monospace;
}
/* visited link */
footer a:visited {
  color: black;
}
/* mouse over link */
footer a:hover {
  color: red;
  background-color: black;
}

/* links in paragrapghs */
p a {
  color: black;
  font-family: "Roboto Mono", monospace;
  /* text-decoration: ; */
}
/* unvisited link */
p a:link {
  color: red;
}
/* visited link */
p a:visited {
  color: black;
}
/* mouse over link */
p a:hover {
  color: red;
}
/* click on selected link */
p a:active {
  color: red;
}
/* tabbed to link */
p a:focus {
  color: darkred;
}

.image {
  text-align: center;
}

/* -------------------my notes---------------------- */

/******************add these classes*****************/
/* 
   head
   foot
   work
   racefab
   school
    */

/* inline  elements: <a> <span> <strong> stays inline.
from left to right. elements only wrap when items can't fit */

/* block elements: <p> <h1> <article> <section> same height as content,
 same width as container. stacks and starts on new line */

/* -------------fonts-------------------- */
/* DOWNLOAD WAY 
create font folder and download to folder 
syntax
@font-face {
  font-family: "My Font";
  src: url(../fonts/random-sans.ttf);
}
add font to section
body {
  font-family: "My Font", Helvetica, sans-serif;
}
*/

/*---------- fonts from google------------ */
/* LINK WAY 
1. fonts.google.com choose font
2. select styles
3. copy embed font
4. add link to fonts in html page
5. add font-family: 'font-name', font-name2, font-name3; to css sections
*/

/* ---------example psuedo class------------ */
/* used for targeting specific elements or adds specificity*/
/* must match parent/child or sibling relationship */
/* main p:first-of-type {
  color: brown;
} */

/* ------------example pseudo element------------ */
/* used for extreme specificity */
/* main p:first-of-type::first-letter {
  color: aqua;
  font-size: 30px;
}
or  
  main p::first-line {
  color: aquamarine;
  font-size: 40px;
} */

/* inherited selector overrides order of precedence top overrides next lower */
/*  
    ID selector
    class selector
    type selector
    * or universal selector
    section    
    **just use an online specificity calculator**
    */

/* css loaded last will take precedence or top to bottom with bottom given priority 
    !important will overide
    example:
     p {
      font-size: 12px!important;
    }
    */
/* ---------classes and ID----------- */
/* dependent class, it depends on a tag or specific to the tag before the period */
/* h2.header_color {
            color: red;
        } */

/* independent class, it can be applied to any tag */
/* .highlight {
          background-color: yellow;
        } */

/* id selectors */
/* can only be applied once! */
/* #align {
          text-align: center;
        } */

/* -------------example color pallet to paste from-------------- */
/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* -----content wrappers or containers--------- */
/* content wrappers

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
} */

/* give each section a class so you can organize colors etc */
/* label each section with comments */

/* example buttons */
/* .yourClass .btn {
     color: blue;
     background: white;
     text-decoration: none;
     padding: 8px;
     border-radius: 4px;
  } 
     .yourClass btn:hover {
      background: rgba(47, 48, 90, 80%);
   }
   *add class="btn" to the specific a tags you want to make into buttons*
   **the 4th rgba value adds opacity**

*/

/* ----------fixes for mod4--------- */
