.headings {
    padding: 1em 2em;
    background-color: #0D1B2E;
    color: white;
}
.headings h1 {
    text-align: center;
}
/* --------------------------nav section-------------------- */
nav {
    text-align: center;
  }
  nav li {
    display: inline-block;
  }
  nav li a {
    color: darkblue;
    font-size: 25px;
    text-decoration-line: none;
    font-family: "Roboto Mono", monospace;
    padding: 15px 32px;
    background-color: #21759b;
    border: 5px solid black;
    
  }
  /* unvisited link */
  nav li a:link {
    color: darkblue;
  }
  /* visited link */
  nav li a:visited {
    color: black;
  }
  /* mouse over link */
  nav li a:hover {
    color: lightcyan;
    background-color: black;
  }
  /* click on selected link */
  nav li a:active {
    color: darkblue;
  }
  /* tabbed to link */
  nav li a:focus {
    color: darkblue;
    background-color: lightblue;
  }

.intro{
    padding: 0px 20px
}

body {
    margin: 0;
    padding: 0;
    background-color: red;
}
button {
    padding: .6em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background: red ;
    border: 10px solid #0D1B2E;
}

button:hover {
    color: white;
    background-color: #E95D0F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

body,
button,
input,
select,
textarea {
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
}

/*Image structure*/
.main-pitch {
    background: white;
}

.three-reasons {
    margin: 10px 10px;
    padding: 0;
    background: white;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.reason {
    margin-bottom: 1em;
    padding-bottom: 2em;
    flex: 1;
}

.reason figcaption {
    padding: 0 3em;
}

.content-title {
    margin-bottom: 0;
    font-size: 1.4em;
}

.reason p {
    margin: .5em 0 1.8em;
}


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

figure {
    margin: 0;
}

/*----------bigger size screen-----------------*/
@media screen and (min-width: 801px) {
    .three-reasons {
                -js-display: flex;
        display: flex;
        margin: 1em auto 0;
        padding: 10px;
    }

    .reason figcaption {
        padding: 0 1.5em;
    }

}

/*----------------small size Screen------------*/
@media screen and (max-width: 50em) {

    .centered {
        max-width: 62em;
    }
    .three-reasons{
        text-align: center;
    }
    
    .headings {
    padding: 1em 2em;
    background-color: #0D1B2E;
    color: white;
}
}
